<po-page-edit
  [p-title]="title"
  [p-breadcrumb]="breadcrumb"
  (p-cancel)="cancel()"
  (p-save)="save(false)"
  (p-save-new)="saveOrDelete()"
  [p-literals]="customLiterals">

  <po-loading-overlay [hidden]="!isLoading"></po-loading-overlay>

  <form [formGroup]="clientsForm" *ngIf="clientsForm">
    <po-container class="po-row po-xl-12 po=lg-12 po-md-12 po-sm-12">
      <po-divider p-label="Informações Pessoais" p-border-width="medium"></po-divider>

      <div class="po-row">
        <po-input class="po-xl-2 po=lg-2 po-md-2 po-sm-2"
          p-label="ID"
          p-disabled="true"
          formControlName="id">
        </po-input>

        <po-input class="po-xl-4 po=lg-4 po-md-4 po-sm-4"
          p-label="Nome"
          p-required="true"
          p-clean="true"
          p-placeholder="Informar o Nome do Cliente"
          formControlName="nome">
        </po-input>

        <po-input class="po-xl-3 po=lg-3 po-md-3 po-sm-3"
          p-label="E-mail"
          p-required="true"
          p-clean="true"
          p-placeholder="Informar o E-mail do Cliente"
          formControlName="email">
        </po-input>

        <po-input class="po-xl-3 po=lg-3 po-md-3 po-sm-3"
          p-label="Senha"
          p-required="true"
          p-clean="true"
          p-placeholder="Informar a Senha do Cliente"
          formControlName="senha">
        </po-input>

        <po-input class="po-xl-3 po=lg-3 po-md-3 po-sm-3"
          p-label="Plataforma(s) que Possui"
          p-required="true"
          p-clean="true"
          p-placeholder="Informe Separando por Vírgulas"
          formControlName="plataformas_possui">
        </po-input>

        <po-input class="po-xl-3 po=lg-3 po-md-3 po-sm-3"
          p-label="Gênero(s) Preferido(s)"
          p-required="true"
          p-clean="true"
          p-placeholder="Informe Separando por Vírgulas"
          formControlName="genero_preferido">
        </po-input>

        <po-input class="po-xl-4 po=lg-4 po-md-4 po-sm-4"
          p-label="Endereço"
          p-required="true"
          p-clean="true"
          p-placeholder="Informe o Endereço"
          formControlName="endereco">
        </po-input>

        <po-datepicker class="po-xl-2 po=lg-2 po-md-2 po-sm-2"
          p-label="Data de Nascimento"
          p-required="true"
          p-clean="true"
          p-placeholder="Informar Data"
          formControlName="data_nascimento">
        </po-datepicker>

        <!-- <po-input class="po-xl-2 po=lg-2 po-md-2 po-sm-2"
          p-label="Data de Nascimento"
          p-required="true"
          p-clean="true"
          p-placeholder="Informar DD/MM/AAAA"
          formControlName="data_nascimento">
        </po-input> -->
      </div>
    </po-container>
  </form>
</po-page-edit>
